openapi: 3.1.0
info:
  title: SnapAPI - Screenshot & Web Data Analyze Utilities API
  version: 2.0.0
  description: 'Professional screenshot, PDF, video, scraping, content extraction, and AI analysis API. Convert any URL into structured data or visual captures with a single API call. Powered by headless Chromium.


    ## Authentication


    All API endpoints (except Auth and Health) require one of:

    - `X-Api-Key: sk_live_xxx` header (recommended for server-side)

    - `Authorization: Bearer sk_live_xxx` header

    - `?access_key=sk_live_xxx` query parameter (for GET endpoints)


    Dashboard endpoints use JWT Bearer tokens obtained from `/auth/login`.


    ## Rate Limits


    | Plan | Requests/month | Rate |

    |------|---------------|------|

    | Free | 100 | 10/min |

    | Starter | 5,000 | 60/min |

    | Pro | 50,000 | 300/min |


    Rate limit headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`'
  contact:
    email: support@snapapi.pics
    url: https://snapapi.pics
servers:
- url: https://api.snapapi.pics
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Utilities
  description: Device presets and API capabilities
paths:
  /v1/devices:
    get:
      operationId: listDevices
      summary: List Device Presets
      description: Get all available device presets (desktop, mobile, tablet) for screenshot emulation.
      tags:
      - Utilities
      security: []
      responses:
        '200':
          description: Device presets grouped by category
  /v1/capabilities:
    get:
      operationId: getCapabilities
      summary: API Capabilities
      description: Get supported formats, features, and limits.
      tags:
      - Utilities
      security: []
      responses:
        '200':
          description: API capabilities
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your SnapAPI API key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from /auth/login or /auth/refresh
